
*{margin: 0;padding: 0;}
a{text-decoration:none;}
ul,li{list-style:none;}
body{font-size:12px;font-family:"Microsoft Yahei";}
input{border: none;outline:none;}
.fl{float:left;}
.fr{float:right;}

.qq_login_window{width: 430px;height: 330px;position: absolute;left: 400px ;top:100px;/*margin-left: -215px;*/}
.move{width: 200px;height: 90px;position: absolute;left: 115px;top:56px;}
.topBgArea{width: 430px;height:182px;background: url(../images/jhbj.png);}
.topBgArea .close{width: 15px;height: 15px;position: absolute;right: 8px;top:6px;cursor:pointer;
	background: url(../images/closeicon_03.png);}
.contentArea{width:430px;height: 149px;background: #ebf2fa;}
.mainArea{width: 353px;height: 137px;position: absolute;left: 41px; bottom: 0;}

.left{width: 80px;position: relative;margin-right: 10px;}
.left img.logoImg{width: 80px;height: 80px;}
.left img#stateIcon{width: 13px;height: 13px;position: absolute;left: 68px;top: 68px;}

.middle{width: 194px;}
.middle .inputArea input{width:192px; height: 28px;border: 1px solid #d0d0d0;text-indent:6px;font-size:10px;}
.middle .inputArea input.username{border-bottom:none;border-radius: 5px 5px 0 0;}
.middle .inputArea input.password{border-radius: 0 0 5px 5px;}
.middle .chooseArea{width: 194px;height: 13px; font-size:10px;color: #645b60;line-height: 13px;margin-top: 8px;}
.middle .chooseArea input{float:left;width: 13px;height: 13px;margin-right: 4px;}
.middle .loginBtn{width: 194px;}
.middle .loginBtn input#loginBtn{display: inline-block; width:194px; height: 30px;margin:12px 0 0 0;cursor:pointer;
	background-color: #08a3db;font-size: 12px;line-height: 30px;color: #fff;border-radius:5px;}
.middle .loginBtn input#loginBtn:hover{background-color:#18b3eb;}

.right{width: 66px;}
.right a{display: inline-block; font-size:12px;color:#2985d8;line-height: 30px;margin-left: 10px;}
.right a:hover{color:#5aadf7;}
